<div class="header">
    <h2>Angular lecture</h2>
    <nav class="links-container">
        <button class="link-button" routerLink="Users">Users</button>
        <button class="link-button" routerLink="Projects">Projects</button>
        <button class="link-button" routerLink="Teams">Teams</button>
        <button class="link-button" routerLink="Tasks">Tasks</button>
    </nav>
</div>
<main>
    <router-outlet></router-outlet>
</main>