<div class="edit-box">
    <div class="edit-box-header">
        <h3>{{modalTitle}}</h3>
        <button type="button" class="close-btn" (click)="closeClick()"><span>&#10008;</span>
        </button>
    </div>
    <form novalidate [formGroup]="projectForm">
        <div>
            <label for="authorId">Author ID</label>
            <input id="authorId" type="number" min="1" step="1" placeholder="Author Id" formControlName="authorId">
            <div class="alert-incorrect"
                *ngIf="projectForm.controls['authorId'].invalid && projectForm.controls['authorId'].touched">
                Incorrect author ID
            </div>
        </div>
        <div>
            <label for="teamId">Team ID</label>
            <input id="teamId" type="text" placeholder="Team Id" formControlName="teamId">
            <div class="alert-incorrect"
                *ngIf="projectForm.controls['teamId'].invalid && projectForm.controls['teamId'].touched">
                Incorrect team ID
            </div>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" formControlName="name">
            <div class="alert-incorrect"
                *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
                Incorrect name
            </div>
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" type="description" placeholder="Description" formControlName="description">
            <div class="alert-incorrect"
                *ngIf="projectForm.controls['description'].invalid && projectForm.controls['description'].touched">
                Incorrect description
            </div>
        </div>
        <div>
            <label for="deadline">Registered at</label>
            <input id="deadline" type="date" placeholder="Deadline" formControlName="deadline">
            <div class="alert-incorrect"
                *ngIf="projectForm.controls['deadline'].invalid && projectForm.controls['deadline'].touched">
                Incorrect date
            </div>
        </div>
        <div>
            <label for="createdAt">Created at</label>
            <input id="createdAt" type="date" placeholder="Created at" formControlName="createdAt">
            <div class="alert-Incorrect"
                *ngIf="projectForm.controls['createdAt'].invalid && projectForm.controls['createdAt'].touched">
                Incorrect ate
            </div>
        </div>
        <button class="btn-accept" (click)="addProject()" *ngIf="project?.id==0">
            Add
        </button>
        <button class="btn-accept" (click)="updateProject()" *ngIf="project?.id!=0">
            Update
        </button>
    </form>
</div>