<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Name</th>
      <th>
        <button type="button" class="btn-accept" (click)="addClick()" data-backdrop="static" data-keyboard="false">
          Add team
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of teamList">
      <td>{{dataItem.id}}</td>
      <td>{{dataItem.createdAt | format}}</td>
      <td>{{dataItem.name}}</td>
      <td>
        <button class="btn-edit" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <span>&#9998;</span>
        </button>
        <button class="btn-delete" (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <span>&#9842;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>