<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team Id</th>
      <th>Email</th>
      <th>Registration Date</th>
      <th>Birthday</th>
      <th>
        <button type="button" class="btn-accept" (click)="addClick()" data-backdrop="static" data-keyboard="false">
          Add user
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of userList">
      <td>{{dataItem.id}}</td>
      <td>{{dataItem.firstName}}</td>
      <td>{{dataItem.lastName}}</td>
      <td>{{dataItem.teamId}}</td>
      <td>{{dataItem.email}}</td>
      <td>{{dataItem.registeredAt | format}}</td>
      <td>{{dataItem.birthDay | format}}</td>
      <td>
        <button class="btn-edit" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <span>&#9998;</span>
        </button>
        <button class="btn-delete" (click)="deleteClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <span>&#9842;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>