.header {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    background: rgb(75, 130, 202);
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

h2 {
    margin: 0px;
}

main {
    display: flex;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
}

.links-container {
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(43, 89, 150);
    display: flex;
}

.link-button {
    margin: 1px;
    border: none;
    border-radius: 2px;
    background-color: rgb(12, 55, 111);
    height: 30px;
    color: white;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link-button:hover {
    background-color: rgb(43, 89, 150);
}

.edit-box {
    width: 600px;
    background: white;
    top: 10px;
    left: calc(50% - 300px);
    border-radius: 10px;
}

.edit-box-header h3 {
    margin: 8px;
}

.edit-box-header {
    display: flex;
    justify-content: space-between;
}

.edit-box-body {
    padding: 8px;
}

label {
    margin: 5px;
    color: slategrey;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    color: rgb(43, 43, 43);
    padding: 7px 0;
    background: transparent;
    margin-bottom: 8px;
}

input:focus {
    border-bottom: 2px solid green;
    background-color: rgba(0, 255, 0, 0.159);
}

.alert-incorrect {
    color: red;
    margin: 8px;
}

.btn-accept,
.btn-delete,
.btn-edit {
    margin: 4px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-accept {
    border: 2px rgb(150, 194, 252) solid;
    background-color: rgb(75, 130, 202);
    color: white;
}

.btn-edit {
    border: 2px rgb(201, 198, 198) solid;
    background-color: rgb(165, 165, 165);
    color: white;
}

.btn-delete {
    border: 2px rgb(255, 144, 144) solid;
    background-color: rgb(253, 110, 110);
    color: rgb(126, 0, 0);
}

.close-btn {
    color: rgb(2, 2, 181);
    font-size: 1.7em;
    border: none;
    background-color: transparent;
}

.close-btn:hover {
    color: rgb(255, 0, 0);
}

.btn-accept:hover {
    background-color: rgb(44, 71, 107);
}

.btn-edit:hover {
    background-color: rgb(130, 130, 130);
}

.btn-delete:hover {
    background-color: rgb(255, 65, 65);
}

td,
th {
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: lightblue;
    border-color: white;
}

tr:hover {
    background: rgb(177, 222, 237);
}

body {
    padding: 1rem;
}