<div class="edit-box">
    <div class="edit-box-header">
        <h3>{{modalTitle}}</h3>
        <button type="button" class="close-btn" (click)="closeClick()"><span>&#10008;</span>
        </button>
    </div>
    <form novalidate [formGroup]="teamForm">
        <div>
            <label for="createdAt">Created at</label>
            <input id="createdAt" type="date" placeholder="Created at" formControlName="createdAt">
            <div class="alert-incorrect"
                *ngIf="teamForm.controls['createdAt'].invalid && teamForm.controls['createdAt'].touched">
                Incorrect date
            </div>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" formControlName="name">
            <div class="alert-incorrect" *ngIf="teamForm.controls['name'].invalid && teamForm.controls['name'].touched">
                Incorrect name
            </div>
        </div>
        <button class="btn-accept" (click)="addTeam()" *ngIf="team?.id==0">
            Add
        </button>
        <button class="btn-accept" (click)="updateTeam()" *ngIf="team?.id!=0">
            Update
        </button>
    </form>
</div>