<div class="edit-box">
    <div class="edit-box-header">
        <h3>{{modalTitle}}</h3>
        <button type="button" class="close-btn" (click)="closeClick()"><span>&#10008;</span>
        </button>
    </div>
    <form novalidate [formGroup]="userForm">
        <div>
            <label for="teamId">Team ID</label>
            <input id="teamId" type="number" min="1" step="1" placeholder="Team id" formControlName="teamId">
            <div class="alert-incorrect"
                *ngIf="userForm.controls['teamId'].invalid && userForm.controls['teamId'].touched">
                Incorrect team ID
            </div>
        </div>
        <div>
            <label for="firstName">First name</label>
            <input id="firstName" type="text" placeholder="First name" formControlName="firstName">
            <div class="alert-incorrect"
                *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">
                Incorrect first name
            </div>
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input id="lastName" type="text" placeholder="Last name" formControlName="lastName">
            <div class="alert-incorrect"
                *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched">
                Incorrect last name
            </div>
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email" formControlName="email">
            <div class="alert-incorrect"
                *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                Incorrect email
            </div>
        </div>
        <div>
            <label for="registeredAt">Registered at</label>
            <input id="registeredAt" type="date" placeholder="Registered at" formControlName="registeredAt">
            <div class="alert-incorrect"
                *ngIf="userForm.controls['registeredAt'].invalid && userForm.controls['registeredAt'].touched">
                Incorrect date
            </div>
        </div>
        <div>
            <label for="birthDay">Birthday</label>
            <input id="birthDay" type="date" placeholder="Birthday" formControlName="birthDay">
            <div class="alert-Incorrect"
                *ngIf="userForm.controls['birthDay'].invalid && userForm.controls['birthDay'].touched">
                Incorrect date
            </div>
        </div>
        <button class="btn-accept" (click)="addUser()" *ngIf="user?.id==0">
            Add
        </button>
        <button class="btn-accept" (click)="updateUser()" *ngIf="user?.id!=0">
            Update
        </button>
    </form>
</div>