<div class="edit-box">
    <div class="edit-box-header">
        <h3>{{modalTitle}}</h3>
        <button type="button" class="close-btn" (click)="closeClick()"><span>&#10008;</span>
        </button>
    </div>
    <form novalidate [formGroup]="taskForm" (submit)="closeClick()">
        <div>
            <label for="projectId">Project ID</label>
            <input id="projectId" type="number" min="1" step="1" placeholder="Project ID" formControlName="projectId">
            <div class="alert-incorrect"
                *ngIf="taskForm.controls['projectId'].invalid && taskForm.controls['projectId'].touched">
                Incorrect project ID
            </div>
        </div>
        <div>
            <label for="performerId">Performer ID</label>
            <input id="performerId" type="number" min="1" step="1" placeholder="Performer ID"
                formControlName="performerId">
            <div class="alert-incorrect"
                *ngIf="taskForm.controls['performerId'].invalid && taskForm.controls['performerId'].touched">
                Incorrect performer id
            </div>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" formControlName="name">
            <div class="alert-incorrect" *ngIf="taskForm.controls['name'].invalid && taskForm.controls['name'].touched">
                Incorrect Name
            </div>
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" type="description" placeholder="Description" formControlName="description">
            <div class="alert-incorrect"
                *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
                Incorrect description
            </div>
        </div>
        <div>
            <label for="state">State</label>
            <input id="state" type="number" min="0" step="1" max="3" placeholder="State" formControlName="state">
            <div class="alert-incorrect"
                *ngIf="taskForm.controls['state'].invalid && taskForm.controls['state'].touched">
                Incorrect state
            </div>
        </div>
        <div>
            <label for="createdAt">Created at</label>
            <input id="createdAt" type="date" placeholder="Created at" formControlName="createdAt">
            <div class="alert-incorrect"
                *ngIf="taskForm.controls['createdAt'].invalid && taskForm.controls['createdAt'].touched">
                Incorrect date
            </div>
        </div>
        <div>
            <label for="finishedAt">Finished at</label>
            <input id="finishedAt" type="date" placeholder="Finished at" formControlName="finishedAt">
            <div class="alert-Incorrect"
                *ngIf="taskForm.controls['finishedAt'].invalid && taskForm.controls['finishedAt'].touched">
                Incorrect date
            </div>
        </div>
        <button class="btn-accept" (click)="addTask()" *ngIf="task?.id==0">
            Add
        </button>
        <button type="submit" class="btn-accept" (click)="updateTask()" *ngIf="task?.id!=0">
            Update
        </button>
    </form>
</div>